{{>layouts/header}}

<form class="container" action="/articles/create" method="post">
    <div class="mb-3">
        <lable class="form-label">제목</lable>
        <input type="text" class="form-control" name="title">
<!--        name부분은 dto에 연결하기 위함-->
    </div>
    <div class="mb-3">
        <lable class="form-label">내용</lable>
        <textarea class="form-control" rows="3" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{>layouts/footer}}